<div id="layout" >
	<div id="gallery-active">
		<img src="{{item.url}}" ng-repeat= 'item in content' ng-if="isCurrentIndex($index)">
	</div>

	
	<div id="layout_footer"></div>
</div>




<div id="gallery">
	<div id="map-wrapper" class="black-bg">
		<ui-gmap-google-map center="map.center" zoom='map.zoom' >
			<ui-gmap-marker ng-repeat="marker in content" coords ="marker.Coordinates" idkey="marker.url"> 
				<ui-gmap-window IsIconVisibleOnClick="true"> {{marker.description}}</ui-gmap-window>
			</ui-gmap-marker>
		</ui-gmap-google-map>
	</div>
	<div id="gallery-viewport" class="black-bg">
		<div id="thumbnails" ng-style="{width: {{width}} + 'px'}">
			<img src="{{item.url}}" ng-repeat= 'item in content' ng-click="setIndex($index)">
		</div>
	</div>
</div>

